@import url('https://fonts.googleapis.com/css?family=Gilda+Display');

$font-stack-regular     : 'tt_normsregular', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$font-stack-light       : 'tt_normslight', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$font-stack-medium      : 'tt_normsmedium', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$font-stack-thin        : 'tt_normsthin', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
$Circular-font-stack    : 'Circular', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
$Avenir                 : 'Avenir', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$Didot                  : 'Didot', 'Century', 'Times New Roman', serif;
$Futura                 : 'Futura', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$Futura-Light           : 'Futura Light', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

@font-face {
    font-family: 'tt_normslight';
    src: url('../fonts/ttn-l.eot');
    src: url('../fonts/ttn-l.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ttn-l.woff2') format('woff2'),
         url('../fonts/ttn-l.woff') format('woff'),
         url('../fonts/ttn-l.ttf') format('truetype'),
         url('../fonts/ttn-l.svg#tt_normslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tt_normsmedium';
    src: url('../fonts/ttn-m.eot');
    src: url('../fonts/ttn-m.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ttn-m.woff2') format('woff2'),
         url('../fonts/ttn-m.woff') format('woff'),
         url('../fonts/ttn-m.ttf') format('truetype'),
         url('../fonts/ttn-m.svg#tt_normsmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'tt_normsregular';
    src: url('../fonts/ttn-r.eot');
    src: url('../fonts/ttn-r.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ttn-r.woff2') format('woff2'),
         url('../fonts/ttn-r.woff') format('woff'),
         url('../fonts/ttn-r.ttf') format('truetype'),
         url('../fonts/ttn-r.svg#tt_normsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'tt_normsthin';
    src: url('../fonts/ttn-t.eot');
    src: url('../fonts/ttn-t.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ttn-t.woff2') format('woff2'),
         url('../fonts/ttn-t.woff') format('woff'),
         url('../fonts/ttn-t.ttf') format('truetype'),
         url('../fonts/ttn-t.svg#tt_normsthin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Circular';
    src: url('../fonts/circularBook.eot');
    src: url('../fonts/circularBook.eot?#iefix') format('embedded-opentype'),
         url('../fonts/circularBook.woff') format('woff'),
         url('../fonts/circularBook.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/avenir/AvenirLTStd-Medium.eot');
    src: url('../fonts/avenir/AvenirLTStd-Medium.woff') format('woff'),
         url('../fonts/avenir/AvenirLTStd-Medium.ttf') format('truetype'),
         url('../fonts/avenir/AvenirLTStd-Medium.svg') format('svg');
}

@font-face {
    font-family: 'Didot';
    src: url('../fonts/didot.eot') format('embedded-opentype'),
         url('../fonts/didot.ttf') format('truetype');
}

@font-face {
    font-family: 'Futura';
    src: url('../fonts/futura.ttf') format('truetype');
}

@font-face {
    font-family: 'Futura Light';
    src: url('../fonts/futuralight.ttf') format('truetype');
}