@media all and (max-width: 960px) {
    .nav-toggle {
        top: auto;
        bottom: 20px;
        left: auto;
        right: 20px;
    }
    .nav {
        background:#efefef;
        .navigation {
            li {
                padding: 0.6rem 0;
            }
        }
    }
    .card {
        padding-left: 80px;
        .section-heading {
            font-size: 32px;
            padding: 50px 0;
        }
        .section-content {
            padding: 10px;
            width: 90%;
            font-size: 16px;
        }
    }
    .notification {
        display: none;
    }
    .outer-nav {
        .label {
            bottom: 100px;
        }
    }    
    .container {
        padding: 10px 0 24px 10px;
    }
    .card-layer {
        padding: 1px 10px 1px 20px;
        width: 100%;
    }
    .card-layer:first-child {
        margin-top: 0;
    }
    .card-layer:not(:first-child) {
        margin-top: 10px;
    }
    .heading-xl {
        font-size: 42px;
        line-height: 50px;
        letter-spacing: -0.1rem;
    }
    .content-md {
        font-size: 14px;
        line-height: 24px;
        margin: 20px 0 80px 0;
    }
}

@media all and (max-width: 480px) {
    .card {
        padding-left: 20px;
        .section-heading {
            font-size: 32px;
            width: 95%;
            padding: 80px 0 0 0px;
        }
        .section-content {
            padding: 5px;
            width: 95%;
            font-size: 14px;
            letter-spacing: 0.1rem;
            line-height: 200%;
        }
    }
}