@import '_variables';
@import '_fonts';

* {
    box-sizing: border-box;
    border: 0;
    margin: 0;
    text-rendering: optimizeLegibility;
}

a,
a:focus,
a:hover {
    color: inherit;
    text-decoration: none;
}

body {
    font: normal 14px/200% $font-stack-regular;
    text-size-adjust: 100%;
    overflow-x: hidden;
}

body.about {
    background-color: #efefef;
}

// Layer

.opaque-layer {
    position: fixed;
    z-index: 3;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.8);
    .float-label {
        height: inherit;
        width: inherit;
        margin-top: 50px;
        padding-right: 50px;
        font-weight: bolder;
        font-size: 120px;
        line-height: 150%;
        text-align: right;
        color: #ffffff;    
        font-family: $Circular-font-stack;
    }
    transition: display .5s linear;
}

.layer-hide {
    display: none;
}

.layer-show {
    display: block;
}

.nav {
    z-index: 4;
    position: fixed;
    height: 100vh;
    background-color: #ffffff;
    width: 250px;
    transform: translateX(-210px);
    transition: all .2s cubic-bezier(.25,.46,.45,.94);
    .navigation {
        list-style-type: none;
        padding: 20px 0 0 20px;
        li {
            margin-bottom: 0;
            margin-right: 1rem;
            padding: 1rem 0;
            font-family: $font-stack-regular;
            font-size: 1.6rem;
            font-weight: 100;
        }
    }
}

.menu-item {
    color: #313234;
    display: block;
    position: relative;
    &:before {
        z-index: -1;
        content: '';
        position: absolute;
        height: 2px;
        width: 100%;
        bottom: 0;
        left: 0;
        background-color: #000;
        transition: all .5s cubic-bezier(.25,.46,.45,.94);
        transform: translateX(-110%);
    }
    &:hover {
        &:before {
            color: #313234;
            transform: translateX(-5%);
        }
    }
}

.hidden {
    transform: translateX(-210px);
}

.show {
    transform: translateX(0);
}

.outer-nav {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: inherit;
    background-color: #000000;
    z-index: 2;
    .small-title {
        position: absolute;
        height: inherit;
        width: inherit;
    }
    .label {
        color: #555555;
        position: absolute;
        bottom: 25px;
        text-align: center;
        width: 100%;
        font-size: 10px;
        letter-spacing: 4px;
        transform: rotateZ(-90deg)
    }
}

.nav-toggle {
    position: absolute;
    top: 50%;
    height: 40px;
    width: 40px;
    cursor: pointer;   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bar, 
.bar-1, .bar-2, .bar-3, .bar-4 {
    position: absolute;
    height: 1px;
    background-color: #fff;
}

.bar-1 {
    width: 22px;
    top: 10px;
}

.bar-2 {
    width: 14px;
    top: 16px;
}

.bar-open {
    width: 22px !important;
}

.bar-3 {
    width: 14px;
    top: 22px;
}

.bar-4 {
    top: 28px;
    width: 22px !important;
}

.main {
    z-index: 1;
    padding-left: 40px;
}

.card {
    padding-left: 140px;
    position: fixed;
    color: #ffffff;
    .section-heading {
        font-size: 48px;
        line-height: 125%;
        width: 60%;
        padding: 100px 0 20px 0px;
        font-family: $Avenir;
    }
    .section-content{
        background: rgba(0,0,0,0.6);
        padding: 40px;
        font-family: $font-stack-light;
        width: 80%;
        font-size: 18px;
        line-height: 175%;
    }
}

.card--1 {
    background: url('../images/wall-1.png') no-repeat center center;
    background-size: cover;
}

.card--2 {
    background: url('../images/wall-2.jpg') no-repeat center center;
    background-size: cover;
}

.card--3 {
    background: url('../images/wall-3.png') no-repeat center center;
    background-size: cover;
}

.notification {
    padding: 10px;
    margin-top: 10px;
    width: 300px;
    background: rgba(0, 0, 0, 0.25);
    font-size: 10px;
    letter-spacing: 0.05rem;
    color: rgba(255, 255, 255, 0.3);
    line-height: 14px;
}

.btn {
    position: relative;
    font-family: $Circular-font-stack;
    width: 175px;
    overflow: hidden;
    margin-top: 20px;
    span.btn-line-mark {
        letter-spacing: .05em;
    }
    &:hover {
        .line {
            transform: translateX(150%);
            &:before {
                transform: translateX(-150%);
            }
        }
    }
}

.mouse {
    display: block;
    margin-top: 50px;
}

.transit {
    transform: translateY(0);
    will-change: transform;
    animation: transit 1s ease 0s infinite;
}

@keyframes transit {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(40px);
    }

    100% {
        transform: translateY(0px);
    }
}

.line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #fff;
    overflow: visible;
    z-index: 0;
    transform: translateX(0);
    transition: all 1s cubic-bezier(.23,1,.32,1);
    &:before {
        content: '';
        position: absolute;
        z-index: 1;
        left: 0;
        bottom: 0;
        width: 100%;
        height: inherit;
        background: #fff;
        transition: all .5s cubic-bezier(.25,.46,.45,.94);
        transform: translateX(-150%);
    }
}


.container {
    width: 100%;
    max-width: 100%;
    padding-left: 80px;
    padding-top: 40px;
}

.about-section {
    background: url(../images/neural-back.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.card-layer {
    width: 88%;
    background: rgba(0, 0, 0, 0.96);
    padding: 40px 80px;
    margin: 0 auto;
    transform: translateY(0);
}

.card-layer:first-child {
    margin-top: 35vh;
}

.card-layer:not(:first-child) {
    margin-top: 50px;
}

.heading-xl {
    color: #ededed;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -0.2rem;
    margin: 50px 0;
    font-family: $Didot; 
    font-weight: 900;     
    transition: all 835ms cubic-bezier(0.16, 0.01, 0.77, 1);
    opacity: 0;
    transform: translateX(-10%);
}

.heading-view-loaded {
    opacity: 1;
    transform: translateX(0);
}

.content-md {
    color: #999999;
    margin-top: 50px;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 1px;
    font-family: $font-stack-light;
    transition: all 835ms cubic-bezier(0.16, 0.01, 0.77, 1);
    opacity: 0;
    transform: translateY(30%);
    a {
        position: relative;
        transition: all 277ms cubic-bezier(0.16, 0.01, 0.77, 1);
        &:before {
            position: absolute;
            content: '';
            width: 100%;
            height: 1px;
            background: #555555;
            bottom: 2px;
            left: 0;
            transition: all 277ms cubic-bezier(0.16, 0.01, 0.77, 1);
        }
        &:hover {
            color: #fff;
            &:before {
                background: #fff;
            }
        }
    }
    .objectives-section {
        ul {
            li {
                list-style-image: url('../images/li.svg');
            }
        }
    }
}   

.content-view-loaded {
    opacity: 1;
    transform: translateY(0);
}


// SVG 

.svg-icon {
    height: 60px;
    width: 60px;
    margin-bottom: 20px;
}

.rotate-infinite {
    transform: rotateZ(0);
    animation: rotate-infinite 5s linear infinite;  
    transform-origin: center center;
}

.svg-size-sm {
    height: 60px;
    width: 60px;
}

.svg-size-md {
    height: 100px;
    width: 100px;
}

.svg-size-xl {
    height: 124px;
    width: 124px;
}

.svg-size-original {

}

@keyframes rotate-infinite {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

.st0{fill:#EFEFEF;}
.st1{fill:none;stroke:#19B5FE;stroke-width:15;stroke-miterlimit:10;}
.st2{fill:none;stroke:#22A7F0;stroke-width:15;stroke-miterlimit:10;}
.st3{fill:none;stroke:#044F67;stroke-width:15;stroke-miterlimit:10;}
.st4{fill:none;stroke:#003171;stroke-width:15;stroke-miterlimit:10;}

@import '_responsive';